# SPDX-License-Identifier: MIT-0
---
# handlers file for common

- name: Restart Network Linux
  ansible.builtin.service:
    name: " {{ network_manager }}"
    state: restarted
  async: 45
  poll: 0
  listen: Restart Network
  when:
    - network_manager is defined
    - ansible_os_family != "Darwin"

- name: Restart Network MacOS
  ansible.builtin.command: dscacheutil -flushcache
  listen: Restart Network
  changed_when: true
  when:
    - ansible_os_family == "Darwin"
