---
- name: Load Platform specific variables
  ansible.builtin.include_vars: "defaults/{{ ansible_system }}.yml"

- name: Load Platform specific tasks
  ansible.builtin.include_tasks: "{{ ansible_system }}.yml"

- name: Set Device HostName
  ansible.builtin.hostname:
    name: "{{ inventory_hostname }}"
  notify: Restart Network

- name: Ensure User ssh key
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    generate_ssh_key: true
    ssh_key_bits: 2048
    ssh_key_file: .ssh/id_rsa

- name: Get Public Key
  ansible.builtin.slurp:
    src: "{{ common_user_directory }}/{{ ansible_user }}/.ssh/id_rsa.pub"
  register: common_public_key

- name: Add Public Key
  ansible.posix.authorized_key:
    user: "{{ ansible_user }}"
    state: present
    key: "{{ common_public_key['content'] | b64decode }}"

- name: Configure git user name
  community.general.git_config:
    name: user.name
    scope: global
    value: "Jordan Del Pilar"
  become: false

- name: Configure git email
  community.general.git_config:
    name: user.email
    scope: global
    value: "jordan@delpilar.net"
  become: false
